# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store        # macOS
Thumbs.db        # Windows

# Diretórios temporários
tmp/
temp/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Build
dist/
build/

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace